<html ng-app="Assignment1">
    <head>
                <script src="angular.min.js"></script>
                <script lang="javascript">
                
                    var myModule = angular.module('Assigment1', []);
                    
                    myModule.controller('CostController',
                        
                        function ($scope)
                        {
                            var cc = this;
                            
                            
                            cc.cost = 0.0;
                            
                            cc.tip_options = 
                            [
                                {amount:0.10, name:"10%"},
                                {amount:0.15, name:"15%"},
                                {amount:0.20, name:"20%"}
                            ];
                            
                            cc.tax_options =
                            [
                                {amount:0.05, name:"Florida"},
                                {amount:0.06, name:"California"},
                                {amount:0.07, name:"New York"},
                                {amount:0.08, name:"Texas"},
                                {amount:0.09, name:"Alabama"}
                            ];
                            
                            cc.tax = cc.tax_options[0];
                            cc.tip = cc.tip_options[0];
                            
                            cc.tip_total = cc.tip.amount * cc.cost;
                            cc.tax_total = cc.tax.amount * cc.cost;
                            
                            cc.total = cc.cost + cc.tax_total + cc.tip_total;
                            
                            cc.final_bill = 0.0;
                            cc.add = function add()
                            {
                                cc.final_bill += cc.total;
                            };
                            
                            $scope.$watch('cc.cost');
                            $scope.$watch('cc.tax');
                            $scope.$watch('cc.tax');
                            
                            
                        }
                        );
                
                </script>
    </head>
    <body>
        <div ng-controller="CostController as cc">
            <p>
                Cost: <input type="text" ng-model="cc.cost" placeholder="cost" /></br>
                Tax: <select ng-model="cc.tax" ng-options="tax.name for tax in cc.tax_options"></select><br/>
                Tip: <select ng-model="cc.tip" ng-options="tip.name for tip in cc.tip_options"></select>
            </p>
            <p ng-show="cc.final_bill">
                Your final bill is {{cc.final_bill|currency}}
                <button ng-click="cc.add()">Add</button>
            </p>
        </div>
    </body>
</html>